@charset "EUC-KR";

.write_inner
{
	width:700px;
	min-height:600px;
	margin:85px;
}
.write_btn
{
	position:relative;
		width:70px;
		height:45px;
		font-size:18px;
}
.cancel_btn
{
	position:relative;
	width:70px;
	height:45px;
	font-size:18px;
}
.btn_area
{
	position:relative;
	top:30px;
}
.writetbl
{
	border-color:#f1e3c4;
	border-width:5px;
	border-style:solid;
}
.writetbl hr
{
	background-color:#EFEFEF;
	width:705px;
	margin-top:0px;
}