@charset "EUC-KR";

ul, ol, li, html, body
{
	list-style: none;
	padding: 0;
	margin: 0;
}

html, body
{
	height: 100%;
}

body
{
	display: flex;
	flex-direction: column;
}

section
{
	width: 1920px;
	flex: 1;
}

header
{
 	width: 1920px;
 	height: 140px;
}

.head a
{
	text-decoration: none;
	color: #101010;
}

.loginArea
{
	width: 1200px;
	height: 30px;
	font-size: 14px;
	padding: 10px 0;
	margin: 0 auto;
	text-align: right;
}

.header
{
	width: 100%; 
	height: 90px;
	margin: 0 auto;
	background: #white;
}

.hubMenu
{
	width: 1200px;
	height: 90px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.hubMenu li
{
	padding: 5px 10px;
	font-size: 24px;
	font-weight: 900;
	position: absolute;
}

/* 예약 */
.hubMenu li:nth-child(1)
{
	top: 30px;
	left: 70px;
}

/* 호텔 소개 */
.hubMenu li:nth-child(2)
{
	top: 30px;
	left: 250px;
}

/* 로고 */
.hubMenu li:nth-child(3)
{
	top: 10px;
	left: 450px;
	width: 500px;
	font-size: 50px; 
	font-family: Roxborough;
}

/* 고객문의 */
.hubMenu li:nth-child(4)
{
	top: 30px;
	left: 830px;
}

/* 프로모션 */
.hubMenu li:nth-child(5)
{
	top: 30px;
	left: 1030px;
}

/* 최상위 메뉴 css */
.loginMenu > li
{
	display: inline-block;
}

#loginName
{
	cursor: pointer;
}

/* 하위메뉴 css */
.subMenu
{
	width: 98px;
	height: 50px;
	background-color: #dedede;
	position: relative;
	z-index: 10;
	display: none;
	margin-bottom:25px;
}

.subMenu li
{
	float: left;
	text-align: center;
	font-weight: bold;
	padding: 2px;
	text-align:center;
}
